.project-card {
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}

.luvtalk-project {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../../assets/images/luvtalklogo.png);
}

.personal-website-project {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../../assets/images/logo.svg);
}

.strike-zone-project {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../../assets/images/mlbproject.png);
}
